@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #1B1B1B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1B1B1B;
  }
}


@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary-900: #3892c6;
    --color-primary-700: #54a5d5;
    --color-primary-500: #7fbadc;
    --color-primary-300: #b6d5eb;
    --color-primary-100: #d7e9f5;


    --color-dark-900: #282221;
    --color-gold-200: #FAF7F2;

}



html,
body {
  @apply bg-white font-montserrat font-normal text-[16px];
  background: var(--background);

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #ffffff;
      --foreground: #1B1B1B;
    }
  }
}

@layer components{
  h1 {
    @apply font-extrabold text-[40px]
  }

  h2 {
    @apply font-bold text-2xl
  }

  h3 {
    @apply font-semibold text-xl
  }

  h4 {
    @apply font-bold text-xl
  }

  h5 {
    @apply font-bold text-[16px]
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hero-h {
    @apply h-[calc(100svh-91px)]
  }
}